/*mat-sidenav {*/
  /*width: 200px;*/
/*}*/
/*mat-sidenav-container {*/
  /*height: 100%;*/
/*}*/

.containerX {
  padding: 5px;
  border: solid 1px #b6b6b6;
  box-sizing: content-box !important;
}

div .scrolling {
  overflow-y: auto;
}

.loading-spinner{
  margin: auto;
}

.tag-input {
  width: 90%;
  margin: auto;
}
