mat-sidenav {
  width: 200px;
}
mat-sidenav-container {
  height: 100%;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  list-style: none;
  padding: 0px;

}

.file-filter {
  width: 100%;
  padding: 0px;
}

button {
  min-width: 90%;
  margin-bottom: 1rem;
}

.containerX {
  height: 90vh;
  padding: 5px;
  border: solid 1px #b6b6b6;
  box-sizing: content-box !important;
}

.flexitem {
  text-align: center;
  line-height: 100px;
  width: 150px;
  height: 100px;
  margin: 2px;
  box-shadow: none !important;
  padding: 0 !important;
}

div.scrolling {
  overflow-y: auto;
}

div .file-area {
  min-width: 300px;
}

.loading-spinner{
  margin: auto;
}

.tag-input {
  width: 40%;
  min-width: 300px;
  max-width: 400px;
}
