ul {
  list-style: none;
  padding: 0px;
}

li {
  list-style: none;
  padding: 0px;

}

/*.file-filter {*/
/*width: 100%;*/
/*padding: 0px;*/
/*}*/

/*button {*/
/*}*/

.file-button {
  width: 90%;
  margin-bottom: 1rem;
}


